.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;

}

.heading img {
    padding-top: 15px;
    padding-right: 10px;
    height: 70px;
    width: 100px;
}

.heading h1 {
    padding: 5px;
    color: blueviolet;
    font-style: italic;
}

.header {
    background-color: rgb(77, 224, 151);
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    from {
        background-color: mistyrose;
    }

    to {
        background-color: rgb(138, 236, 39);
    }
}

.header h3 {
    color: rgb(12, 11, 11);
    text-align: center;
    padding: 5px;
}