/* Sport section */
.sports-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.activities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}

.profile-container {
    background-color: rgb(234, 245, 240);
    border-radius: 10px;
}

/* Responsive section */
@media only screen and (max-width: 700px) {
    .sports-container {
        display: inline-block;
    }

    .profile-container {
        background-color: rgb(234, 245, 240);
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
    }

    .activities-container {
        display: flex;
        flex-wrap: wrap;
    }
}